.history-page{
    font-family: Comic Sans, Comic Sans MS, cursive;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    margin: 0; 
    margin-left: 50vh;
}
.h1{
    color: brown;
}
.mainform{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 1250px;
    top: 40;
}