.history-page{
    margin-left: 9vh;
    margin-top: -5vh;
}
.h1{
   align-content: center;
    color: rgb(4, 112, 253);
}
.mainform{
    color: goldenrod;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100px;
    gap: 20px;
    margin-right: 150vh;
    margin-top: 10vh;
}
.list{
    font-size: 20pt;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(243, 114, 9);
}