.history-page{
justify-content: center;


}
.h1{
 justify-content: center;
 align-items: center;
 align-content: center;
 margin-left: 30%;  
 position: absolute;
 top: 0;
 
}
.mainform{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-left: 28vh;
    margin-top: 15vh;
   
}
.list{
    font-size: 20pt;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(243, 114, 9);
}

.qr--3 {
    grid-column: span 3;
}
.qr--2{
    grid-column: span 2;
}
.qr--1{
    grid-column: span 1;
}
.deletehistory{
    background-color: transparent;
    margin-left: -5vh;
    position: absolute;
    margin-top: -2vh;
    
}

.deletehistory:hover{
    outline: none;
}