.movieform{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 1250px;
    top: 40;
  }
  .image {
    justify-content: center;
    width: 200px;
    height: 200px;
  }
  
  .Link{
    color:limegreen;
  }
  
